.main {
    font-family: 'Roboto Mono', monospace;
    max-width: 800px;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    margin: 20px auto;

}